.container-card {
  max-width: 100%;
  height: 850px;
  padding-top: 0;
}

.content {
  height: 87%;
  margin: 0px 6%;
}

.content-list {
  height: 100%;
}

.content-row1-col2 {
  height: 58% !important;
}

.header {
  margin: 0 auto;
  width: 269px;
}

.title {
  margin-bottom: 7px;
  font-size: 2.05rem;
  margin-left: -88px;
}

.subtitle {
  color: white;
  width: 234px;
  text-align: -webkit-center;
  margin: 0 -87px;
  letter-spacing: 2px;
}

.content-row2-col1 {
  height: 18% !important;
}

.mat-card-image-lg {
  width: calc(65% + 40px);
  margin: 0 -24% -0 -24%;
  position: relative;
  padding-left: 30px;
  right: 86px;
}

.para {
  font-size: 13.5px;
}

.tab {
  position: absolute;
  right: 25%;
  top: 90%;
}

.tab-btn {
  text-transform: uppercase;
  float: left;
  color: #929292;
  margin: 0px 10px;
  letter-spacing: 2px;
}

.tab-btn:hover {
  color: white;
}

.tab-btn:focus {
  color: #7085d2;
}

.div-mat-card-img {
  margin: 25px auto;
  width: max-content;
}

.mat-grid-tile-p-xs {
  font-size: 1.25rem;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

:host ::ng-deep .mat-card-image {
  width: calc(60% + 32px);
  margin: -55px -16px;
}

:host ::ng-deep .mat-figure {
  align-items: baseline;
}

:host ::ng-deep .mat-card {
  background: #40404040;
}
