<!-- Footer -->
<footer
  class="page-footer font-small pt-4"
  style="background-color: #000538 !important;"
>
  <!-- Footer Links -->
  <div
    class="container-fluid text-center text-md-left"
    style="    height: 350px;"
  >
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Studio add:</h5>
        <p>
          2083, Rangvarsha, Dake road, Vijayanagar Colony, Sadashiv Peth, Pune
          411030.
        </p>
        <h5 class="text-uppercase">Contac info:</h5>
        <p>phone: (+91) 9922062744</p>
        <p>email: saeebhurkephoto@gmail.com</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Contact Saee:</h5>
        <app-email></app-email>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase"></h5>

        <app-map></app-map>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-11 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon
              icon="facebook"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
          <!-- Instagram -->
          <button mat-button [matMenuTriggerFor]="footerMenu">
            <a class="ins-ic">
              <mdb-icon
                icon="instagram"
                size="2x"
                class="white-text mr-md-5 mr-3"
              ></mdb-icon>
            </a>
          </button>
          <mat-menu #footerMenu="matMenu" yPosition="above">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon
              icon="twitter"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
          <!-- Youtube -->
          <a class="yt-ic">
            <mdb-icon
              icon="youtube-play"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
        </div>
      </div>
      <div class="col-md-1 py-5">
        <a href="#" style="    font-size: 55px;"
          ><i class="fa fa-angle-double-up"></i
        ></a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/angular/angular-tutorial/">
      www.saeebhurke.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
