<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ">
    <logo><a class="navbar-brand" [routerLink]="['/']">
            <h1 style="    margin-bottom: -6px;
            font-size: 2.05rem;
            /* margin-left: -88px; */
            margin-top: 7px;">SAEE
                BHURKE</h1>

        </a></logo>

    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#bts">
                    <mdb-icon icon="facebook" size="1x" class="white-text mr-sm-1 mr-1"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#bts">
                    <mdb-icon icon="instagram" size="1x" class="white-text mr-sm-1 mr-1"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="#bts">
                    <mdb-icon icon="twitter" size="1x" class="white-text mr-sm-1 mr-1"></mdb-icon>
                </a>
            </li>
        </ul>
        <!-- Grid column -->
        <!-- <div class="col-md-12 py-5">
            <div class="mb-5 flex-center"> -->

        <!-- Facebook -->
        <!-- <a class="fb-ic">
                    <mdb-icon icon="facebook" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!-- Twitter -->
        <!-- <a class="tw-ic">
                    <mdb-icon icon="twitter" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!-- Google +-->
        <!-- <a class="gplus-ic">
                    <mdb-icon icon="google-plus" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!--Linkedin -->
        <!-- <a class="li-ic">
                    <mdb-icon icon="linkedin" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!--Instagram-->
        <!-- <a class="ins-ic">
                    <mdb-icon icon="instagram" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!--Pinterest-->
        <!-- <a class="pin-ic">
                    <mdb-icon icon="pinterest" size="2x" class="white-text mr-sm-5 mr-3"></mdb-icon>
                </a> -->
        <!-- </div> -->
        <!-- </div> -->
    </links>
</mdb-navbar>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black " style="    height: 30px;">
    <logo><a class="navbar-brand" href="#">
            <h5 style=" 
            width: 234px;
            text-align: -webkit-center;
            /* margin: -3px 0px; */
            letter-spacing: 11.9px;
            color: #9e9d9d;
            /* margin-bottom: 14px; */">Photography</h5>
        </a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-sm-3" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    ABOUT<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">BIO</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">BEHIND THE LENS</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">ACHIEVEMENTS</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">ASSOCIATIONS</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">CLIENTS</a>
                    <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
                </div>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown mr-sm-3" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    SHOWCASE<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">NATURAL HISTORY & TRAVEL</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">PHOTOGRAPHY SERVICES</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">FILMS</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">BLOGS</a>
                    <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
                </div>
            </li>


            <li class="nav-item mr-sm-3">
                <a class="nav-link waves-light" mdbWavesEffect href="#bts">CONTACT</a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <!-- <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                </div>
            </form> -->
    </links>



</mdb-navbar>