<div style="    background: linear-gradient(to bottom right, black, grey);">
  <h2>Slideshow</h2>
  <app-upload-file [paneName]="'slideshow'"></app-upload-file>

  <br/>
  <br/>
  <h2>Bio</h2>
  <app-upload-file [paneName]="'bio'"></app-upload-file>

  <div *ngFor="let catalogue of catalogues">
    <h1>{{catalogue.catalogueName}}</h1>
    <div *ngFor="let catalogueContents of catalogue.contents">
      <div *ngFor="let panel of catalogueContents.content">
        <h2>{{panel.panelName}}</h2>
        <div *ngFor="let gallery of panel.galleryName">
          <h3>{{gallery}}</h3>
          <app-upload-file [paneName]="panel.panelName" [galleryName]="gallery"></app-upload-file>
          <br>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <h1>Awards and published work</h1>
  <h2>Awards</h2>
  <app-upload-file [paneName]="'awards'"></app-upload-file>
  <h2>Published wordk</h2>
  <app-upload-file [paneName]="'published_work'"></app-upload-file>

  <br/>
  <br/>
  <h1>Behind the scenes</h1>
  <app-upload-file [paneName]="'bts'"></app-upload-file>
  <app-fetch-file></app-fetch-file>
</div>