<div color="primary">
  <app-component-title [title]="catalogue.catalogueName"></app-component-title>
  <div class="catalogue-content">
    <!-- class="mat-typography" You can now use your library component in app.component.html -->
    <i class="material-icons slick-arrow-custom slick-prev-custom" (click)="slickModal.slickPrev()">
      keyboard_arrow_left
    </i>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div *ngFor="let catalogueContent of catalogueContents">
        <div ngxSlickItem *ngFor="let contentObj of catalogueContent.content" class="slide container">
          <app-subcatalogue [panel]="contentObj.panelName" [gallery]="contentObj.galleryName" [panelDispName]="contentObj.panelDisplayName"></app-subcatalogue>
        </div>
      </div>
    </ngx-slick>
    <i class="material-icons slick-arrow-custom slick-next-custom" (click)="slickModal.slickNext()">
      keyboard_arrow_right
    </i>
  </div>
  <!-- <p *ngIf="currentScreenSize === 'xs'" class="catalogue-description">{{catalogue.description_xs}}</p> -->
  <!-- <p class="catalogue-description">{{catalogue.description_lg}}</p> -->

</div>
<!-- style="position: relative;
  bottom: 191px; width: 5%;"> -->
<!-- <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button> -->
<!-- <button (click)="slickModal.slickPrev()">Prev</button> -->
<!-- </div> -->
<!-- <div style="position: relative;
  bottom: 288px;
  left: 1259px;
  width: 0;"> -->
<!-- <div> -->
<!-- <button (click)="slickModal.slickNext()">Next</button> -->
<!-- <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button> -->
<!-- </div> -->

<!--Carousel Wrapper *ngFor="let gallery of contentObj.galleryName"-->