.mat-dialog-content {
  max-height: fit-content;
  padding: 0 0px;
  margin: -24px -24px;
  overflow-x: hidden;
}

.img-dimensions {
  height: 600px;
}

.mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

.dialog-backdrop {
  background: black;
}

.slideshow {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.disable-slideshow {
  pointer-events: none;
  color: gray;
}
