@import "../../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

.example-card {
  max-width: 96%;
  margin-left: 2%;
  margin-bottom: 5%;
  background: #40404040;
  box-shadow: 5px 5px 6px 1px #00000075;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

img {
  cursor: pointer;
  width: 283px !important;
  height: 283px !important;
  border: solid 10px #c19f9f00;
}

img:hover {
  transition: all 0.8s ease-in-out;
  opacity: 0.6;
}

.header {
  margin: 0 auto;
  display: contents !important;
}
